1st Deliverable Archives/
*.Rhistory
.RDataTmp
SharePoint.lnk
Data/defense_contract_CSIScontractID_detail.zip
.RData
Data/defense_contract_CSIScontractID_detail.csv
Data/defense_contract_CSIScontractID_model.csv
*.db
.Rproj.user
LargeDatasets/

Data/Contract\.SP_ContractCompetitionVehicleCustomer\.txt

Data/Contract\.SP_ContractLocationCustomer\.txt

Data/Contract\.SP_ContractTopPSCofficeNAICS\.txt

Data/Contract\.SP_ContractPricingCustomer\.txt

Data/Contract_SP_ContractUnmodifiedCompetitionVehicleCustomer\.txt

Data/Federal_contract_CSIScontractID_detail\.csv

\.RDataTmp1

Data/Contract\.SP_ContractSampleCriteriaDetailsCustomer\.txt

Data/Contract\.SP_ContractUnmodifiedandOutcomeDetailsCustomer\.txt

Data/Contract\.SP_ContractUnmodifiedCompetitionVehicleCustomer\.txt

Data/Contract\.SP_ContractBucketPlatformCustomer\.txt

Data/Defense_Contract_SP_ContractSampleCriteriaDetailsCustomer\.csv

Data/Contract\.SP_ContractUnmodifiedandOutcomeDetailsCustomer2017\.txt

Data/Contract\.SP_ContractBucketPlatformCustomer2017\.txt

Data/Contract_SP_ContractModificationDeltaCustomer\.txt

Data/Contract\.SP_ContractBudgetDecisionTree\.txt

Data/Contract\.SP_ContractFundingAccount\.txt

Data/Budget\.SP_LocationVendorCrisisFundingHistoryBucketCustomerDetail\.txt

Data/budget_SP_LocationVendorCrisisFundingHistoryBucketCustomerDetail\.txt

Data/semi_clean/Contract.SP_ContractFundingAccount.txt

data/semi_clean/Federal_contract_CSIScontractID_detail.csv

data/semi_clean/Contract_SP_ContractModificationDeltaCustomer.txt

data/semi_clean/ARRAcomplete.csv

data/semi_clean/Budget.SP_CrisisFundingExploration_ContractingOfficeID.csv

data/semi_clean/budget.SP_LocationVendorCrisisFundingHistoryBucketCustomerDetail.txt

data/semi_clean/Budget.SP_CrisisFundingExploration_ProductOrServiceCode.csv

data/semi_clean/Civilian_contract_CSIScontractID_detail.csv

data/semi_clean/Civilian_Contract_SP_ContractDetailsCustomer.csv

data/semi_clean/Civilian_Contract_SP_ContractIdentifierCustomer.csv

data/semi_clean/Contract.SP_ContractBucketPlatformCustomer.txt

data/semi_clean/Contract.SP_ContractCompetitionVehicleCustomer.txt

data/semi_clean/Contract.SP_ContractPricingCustomer.txt

data/semi_clean/Contract.SP_ContractSampleCriteriaDetailsCustomer.txt

data/semi_clean/Contract.SP_ContractTopPSCofficeNAICS.txt

data/semi_clean/Contract.SP_ContractUnmodifiedandOutcomeDetailsCustomer.txt

data/semi_clean/overall_budget_SP_LocationVendorCrisisFundingHistoryBucketCustomerDetail.Rdata

data/semi_clean/Contract.SP_ContractPricingUCA.rda

data/semi_clean/Contract.SP_ContractPricingCustomer.rda

data/semi_clean/Federal_contract_CSIScontractID_complete_with_pricing.Rdata

Data/semi_clean/Contract.SP_ContractBudgetDecisionTree.txt

Data/semi_clean/Contract.SP_ContractLocationCustomer.txt

Data/semi_clean/Contract.SP_ContractPricingUCA.txt

data/clean/federal_contract_compete_detail.csv

data/clean/Federal_contract_CSIScontractID_complete_with_pricing.Rdata

data/semi_clean/Contract.SP_ContractSampleCriteriaDetailsCustomer.rda

data/semi_clean/Contract.SP_ContractCompetitionVehicleCustomer.rda

data/semi_clean/Contract.SP_ContractUnmodifiedCompetitionvehicleCustomer.rda

data/semi_clean/Contract.SP_ContractUnmodifiedCompetitionVehicleCustomer.txt
